.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-message.sent .message-content {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.chat-message.received .message-content {
  background-color: #fff;
  align-self: flex-start;
}

.message-content {
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.message-text {
  margin-bottom: 5px;
}

.message-timestamp {
  font-size: 0.8em;
  color: #888;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
}

.chat-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.2em;
  color: #007bff;
}
.chat-icon-button:hover {
  color: #0056b3;
}

.chat-icon-button:last-child {
  margin-right: 0;
}
