/* src/components/Chat/Chat.css */
.chat {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  height: 100%;
}

.chat-users {
  margin-bottom: 20px;
}

.chat-users ul {
  list-style-type: none;
  padding: 0;
}

.chat-users li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
}

.chat-users li.selected {
  background-color: #007bff;
  color: white;
}

.unresponded-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 5px;
}

.last-message {
  font-size: 12px;
  color: #ccc;
}

.chat-messages {
  flex: 1;
  max-height: calc(100vh - 120px); /* Adjust based on header and input height */
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.chat-message.sent {
  background-color: #333;
  align-self: flex-end;
}

.chat-message.received {
  background-color: #444;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  color: white;
}

.chat-input button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
