/* src/components/OnlineUsers/OnlineUsers.css */
.online-users {
  margin-bottom: 10px;
}

.online-users h2 {
  color: white;
}

.online-users ul {
  list-style-type: none;
  padding: 0;
}

.online-users li {
  margin-bottom: 5px;
}

.online-users a {
  text-decoration: none;
  font-size: 23px;
  color: #547aa5;
  display: flex;
  align-items: center;
}

.online-users a:hover {
  color: white;
}

.online-users a:hover .user-name {
  color: green;
}

.online-icon {
  margin-right: 8px;
  font-size: 12px;
  color: limegreen;
}
