/* src/components/Header/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #abd2fa;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  padding: 5px;
  max-width: 400px;
}

.search-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  padding-left: 35px;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #f0f3f5;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  position: relative;
  margin-right: 15px;
}

.new-messages-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.profile-picture {
  height: 24px; /* Adjust the height to match the icon size */
  width: 24px; /* Adjust the width to match the icon size */
  border-radius: 50%;
  object-fit: cover;
}
